<div class="user-details">
  <h2>R Packages</h2>
</div>

<div class="user">
  <div class="tech">
    <h3>hurdat-hadisst-data</h3>
    <i class="devicon-bootstrap-plain-wordmark colored"></i>
    <p>Unified data sets that summarises the relevant variables (for my Master's Thesis) of each analysed tropical-cyclone using data from the HURDAT2 and the HadISST1.</p>
  </div>
  <div class="tech">
    <h3>alfR</h3>
    <i class="devicon-html5-plain-wordmark"></i>
    <p>R package with useful misc functions.</p>
  </div>
</div>
