<div class="user-details">
  <h2>Other Projects</h2>
</div>

<div class="small-projects-container">
<div class="small-project">
  <div class="small-images">
    <img alt="mountains" src="{{ "/assets/img/hurdat-hadisst-data.png" | prepend: site.baseurl }}" />
  </div>
  <div class="small-contents">
    <h4> hurdat-hadisst-data </h4>
    <a class="small-project-link" href="#">Check it out</a>
  </div>
  <p>Unified data sets that summarises the relevant variables (for my Master's Thesis) of each analysed tropical-cyclone using data from the HURDAT2 and the HadISST1.</p>
</div>

<div class="small-project">
  <div class="small-images">
    <img alt="mountains" src="{{ "/assets/img/alfR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="small-contents">
    <h4> alfR </h4>
    <a class="small-project-link" href="#">Check it out</a>
  </div>
  <p>Unified data sets that summarises the relevant variables (for my Master's Thesis) of each analysed tropical-cyclone using data from the HURDAT2 and the HadISST1.</p>
</div>

<div class="small-project">
  <div class="small-images">
    <img alt="mountains" src="{{ "/assets/img/alfR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="small-contents">
    <h4> hurdat-hadisst-data </h4>
    <a class="small-project-link" href="#">Check it out</a>
  </div>
  <p>Unified data sets that summarises the relevant variables (for my Master's Thesis) of each analysed tropical-cyclone using data from the HURDAT2 and the HadISST1.</p>
</div>
</div>

<div class="small-projects-container">
<div class="small-project">
  <div class="small-images">
    <img alt="mountains" src="{{ "/assets/img/hurdat-hadisst-data.png" | prepend: site.baseurl }}" />
  </div>
  <div class="small-contents">
    <h4> hurdat-hadisst-data </h4>
    <a class="small-project-link" href="#">Check it out</a>
  </div>
  <p>Unified data sets that summarises the relevant variables (for my Master's Thesis) of each analysed tropical-cyclone using data from the HURDAT2 and the HadISST1.</p>
</div>

<div class="small-project">
  <div class="small-images">
    <img alt="mountains" src="{{ "/assets/img/alfR.png" | prepend: site.baseurl }}" />
  </div>
  <div class="small-contents">
    <h4> hurdat-hadisst-data </h4>
    <a class="small-project-link" href="#">Check it out</a>

  </div>
  <p>Unified data sets that summarises the relevant variables.</p>
</div>

</div>
