<div class="user-details">
  <h2>R Packages</h2>
</div>

<div class="small-projects-container">
  {% include small-project.html
    title =   "hurdat-hadisst-data"
    image =   "hurdat-hadisst-data-hexagon.png"
    link =    "https://github.com/aldomann/hurdat-hadisst-data"
    content = "Unified data sets that summarises the relevant variables (for my Master's Thesis) of each analysed tropical-cyclone using data from the HURDAT2 and the HadISST1."
  %}

  {% include small-project.html
    title =   "alfR"
    image=    "alfR-hexagon.png"
    link =    "https://github.com/aldomann/alfR"
    content = "R package with useful miscellaneous functions."
  %}

  {% include small-project.html
    title =   "mariokart"
    image =   "mariokart-hexagon.png"
    link =    "https://github.com/aldomann/mariokart"
    content = "Mario Kart Statistics from Different Games."
  %}
</div>

<div class="small-projects-container">
  {% include small-project.html
    title =   "encoder"
    image =   "encoder-hexagon.png"
    link =    "https://github.com/kreh-team/encoder"
    content = "Multiple data encoding methods for R data frames."
  %}

  {% include small-project.html
    title =   "parscanlogreader"
    image =   "parscanlogreader-hexagon.png"
    link =    "https://github.com/kreh-team/parscanlogreader"
    content = "Read Log Files from Scikit-learn's RandomizedSearchCV."
  %}

  {% include small-project.html
    title =   "telegramr"
    badge =   "WIP"
    image =   "telegramr-hexagon.png"
    link =    "https://github.com/aldomann/telegramr"
    content = "R package for processing Telegram Chat History."
  %}

</div>

<div class="small-projects-container">
  {% include small-project.html
    title =   "speedrunr"
    badge =   "WIP"
    image =   "speedrunr-hexagon.png"
    link =    "https://github.com/aldomann/speedrunr"
    content = "An R implementation of the <a href='https://github.com/speedruncomorg/api'>speedrun.com REST API</a>."
  %}
</div>



